<div class="container">
    <h1>Cervecería Joseph</h1>
    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10 col-md-offset-1 col-xs-offset-1 col-sm-offset-1">
            <p class="lead text-left">
                En esta app se simula el proceso de fabricación de cerveza artesanal de tipo
                lagger, fue construido utilizando tecnologías web emergentes tales como
                <a href="https://nodejs.org/">NodeJS, </a><a href="https://expressjs.com">ExpressJS, </a>
                <a href="https://getbootstrap.com">Bootstrap</a> y <a href="http://cylonjs.com">CylonJS</a>
            </p>
            <blockquote>
                <p>
                    Inserte frase de autoayuda inducida
                </p>
            </blockquote>
            <p class="lead text-left">
                Fue desarrollado pensando en el mobile first, permitiendo al usuario observar
                la simulación desde su dispositivo móvil sin ningún problema.
            </p>
            <blockquote class="blockquote-reverse">
                JavaScript es la solución a los problemas del mundo
                <footer>
                    <cite>Hugo Chávez</cite>
                </footer>
            </blockquote>
            <p class="lead text-left">
                Está construida para que se enciendan leds manipulando los GPIO de una <em>Raspberry Pi</em>
                al momento de iniciar un proceso y se encenderán todos los leds cuando haya
                acabado toda la simulación
            </p>
            <img class="img-responsive center-block" src="/img/RaspiModelB.png" width="400" alt="Raspberry Pi">
        </div>
    </div>
    <div class="container margin-lg-top">
        <div class="row text-center">
            <div class="col-md-4 col-sm-4 col-xs-4 ">
                <img src="/img/eduardo.jpeg" alt="Eduardo Alvarez" class="img-circle img-responsive center-block" width="140">
                <small class="hidden-lg hidden-md hidden-sm">Eduardo Álvarez</small>
                <h3 class="hidden-xs">Eduardo Álvarez</h3>
                    <a href="https://github.com/walis85300" class="btn btn-info" role="button">
                        Repo <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="/img/kevin.jpeg" alt="Eduardo Alvarez" class="img-circle img-responsive center-block" width="140">
                <small class="hidden-lg hidden-md hidden-sm">Kevin Hernández</small>
                <h3 class="hidden-xs">Kevin Hernández</h3>
                    <a href="https://github.com/kevteg" class="btn btn-info" role="button">
                        Repo <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="/img/leonard.jpg" alt="Eduardo Alvarez" class="img-circle img-responsive center-block" width="140">
                <small class="hidden-lg hidden-md hidden-sm">Leonard Mendoza</small>
                <h3 class="hidden-xs">Leonard Mendoza</h3>
                    <a href="https://www.facebook.com/leonardlmlsk8" class="btn btn-info" role="button">
                        Repo <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
