<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Cervecería Joseph</h1>
            <p>Acá podéis ver la simulación de la fabricación de cerveza artesanal</p>
            <a href="/simulation/" class="btn btn-success btn-lg">
                Simular el proceso
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
