<head>
<title>Prueba del control de los leds individuales</title>
</head>
<div class="container">
	<div class="row text-center">
		<div class="col-xs-4 col-lg-4 ">
			<a id="maceracion" type="button" class="btn btn-primary btn-block">Maceración</a>
		</div>
		<div class="col-xs-4 col-lg-4">
			<a id="filtrado1" type="button" class="btn btn-primary btn-block">Filtrado lauter</a>
		</div>
		<div class="col-xs-4 col-lg-4">
			<a id="hervido" type="button" class="btn btn-primary btn-block">Hervido</a>
		</div>
		<div class="col-xs-4 col-lg-4 ">
			<a id="centrifugado" type="button" class="btn btn-primary btn-block">Centrifugado</a>
		</div>
		<div class="col-xs-4 col-lg-4">
			<a id="enfriamiento" type="button" class="btn btn-primary btn-block">Enfriamiento</a>
		</div>
		<div class="col-xs-4 col-lg-4">
			<a id="ferme_madu" type="button" class="btn btn-primary btn-block">Fermentación y maduración</a>
		</div>
		<div class="col-xs-4 col-lg-4">
			<a id="filtrado2" type="button" class="btn btn-primary btn-block">Filtrado final</a>
		</div>
		<div class="col-xs-4 col-lg-4">
			<a id="all" type="button" class="btn btn-primary btn-block">Proceso terminado</a>
		</div>

	</div>
</div>

